.logo {
   border-radius: 12px;
   width: 656px;
   height: 300px;
}

.title {
   text-align: start;
   font-family: var(--second-family);
   font-weight: 400;
   font-size: 40px;
   line-height: 100%;
   color: var(--color-stone-900);
}

.description {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: --var(--color-stone-600);
}
