:root {
   --color-rose-800: #7a284e;
   --color-brown-800: #854632;
   --color-stone-600: #5f564d;
   --color-stone-900: #312e2c;
   --color-stone-100: #f3e5d7;
   --color-stone-150: #e3ddd7;
   --color-rose-50: #fff7fb;
   --color-white: #fff;
   --font-family: 'Outfit', sans-serif;
   --second-family: 'Young Serif', sans-serif;
}
